.wrapper {
    position: relative;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-image: url('https://cdn.dashfight.com/14dfaa658ad5a5ca52854a84f59f233a276bd08b.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: inline-block;
    border: 1px;
}
