.wrapper {
    position: relative;
    background-color: #000;
    width: 100%;
    height: 76px;
}

.logo {
    position: relative;
    width: 160px;
    height: 90px;
    object-fit: cover;
    margin-top: 29px;
}
