.wrapper {
    position: relative;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    background-image: url('https://media.eventhubs.com/images/characters/sf5/akuma.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: inline-block;
    border: 1px;
    margin-right: 1rem;
}
